dash_core_components==1.12.1
mrcfile==1.1.2
numpy==1.18.2
pandas==1.0.3
dash==1.16.3
dash_html_components==1.1.1
Flask_Caching==1.9.0
dash_auth==1.4.1
dash_table==4.10.1
matplotlib==3.3.1
plotly==4.11.0
gunicorn==20.0.4
